name: "26.2-release"
on:
  push:
    branches:
      - main
    paths:
      - .github/actions/release/action.yml
      - .github/workflows/26.2-release.yml
      - pipelines/bitnami/compat.yaml
      - 26.2/**
  workflow_dispatch:
jobs:
  build:
    name: Release image with tag
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/release
        env:
          MELANGE_PRIVATE_KEY: ${{ secrets.MELANGE_PRIVATE_KEY }}
        with:
          tag: "26.2"
