name: 26.5-release
on:
  push:
    branches:
      - main
    paths:
      - .github/actions/release/action.yml
      - .github/workflows/26.5-release.yml
      - pipelines/bitnami/compat.yaml
      - 26.5/**
  workflow_dispatch:
jobs:
  build:
    name: Release image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/release
        env:
          MELANGE_PRIVATE_KEY: ${{ secrets.MELANGE_PRIVATE_KEY }}
        with:
          tag: "26.5"
          extraTags: "latest"
      - uses: actions/delete-package-versions@v5
        with: 
          package-name: 'keycloak-bitnami-image'
          package-type: 'container'
          min-versions-to-keep: 20
