name: release
concurrency: release
on:
  # schedule:
  #   # Weekly
  #   - cron: '0 0 * * 0'
  push:
    branches:
      - main
    paths:
      - .github/actions/release/action.yml
      - .github/workflows/release.yml
      - pipelines/bitnami/compat.yaml
      - 26.5/*
  workflow_dispatch:
jobs:
  build:
    name: Release image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/release
        with:
          archs: amd64 #,arm64
          tag: 26.5
      - uses: actions/delete-package-versions@v5
        with: 
          package-name: 'keycloak-bitnami-image'
          package-type: 'container'
          min-versions-to-keep: 20
